@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');

* {
    font-family: 'Roboto';
}

.hero,
.footer {
    background-color: #1f2937;
}

.main-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

a,
.secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

button,
.action {
    background-color: #3882f6;
    color: #f9faf8;
}

.information-header {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.quote {
    background-color: #e5e7eb;
}

.quote-text {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
}

.image {
    background-color: darkgray;
    color: #f9faf8;
}

.footer {
    color: #f9faf8
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style: none;
    gap: 16px;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 100vh;
    margin: 0;
}

.hero-text,
.info,
.quote,
.action {
    flex: 1;
}

.hero-text {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.left-text {
    flex-direction: column;
}

.image {
    display: flex;
    align-items: center;
}

.information-header {
    display: flex;
    justify-content: center;
}

.information-box {
    display: flex;
    justify-content: space-between;
}

.box {
    display: flex;
    flex-direction: column;
}

.info-img {
    border: blue;
    border-style: solid;
    border-width: medium;
    height: 100px;
    width: 100px;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.author {
    display: flex;
    justify-content: flex-end;
}

.action {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}